*{
    margin: 0;
    padding: 0; /*making own margin*/
    font-family: 'Times New Roman', Times, serif;
    border: border-box; 
}
body{
    display:flex ;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:linear-gradient(130deg, #71b7e6,#9b59b6);

}

.contain{
    max-width: 600px;
    width: 100%;
    background:#fff;
    padding: 25px 30px;
    border-radius: 3px;
}

.contain .title{
    font-size: 25px;
    font-weight: 400;
    position: relative;

}
.contain .title::before{
    content:'';
    position: absolute;
    bottom: 0;
    height: 3px;
    width:30px;
    background: #71b7e6;
}

.contain form .user-detail{
 display: flex;
 flex-wrap:wrap ;
 justify-content: space-between;
 margin: 20px 0 10px 0;
}

form .user-detail .input-box{
  margin-bottom: 15px;  
width: calc(100% / 2 - 20px);

}
.user-detail .input-box .details{
    display: block;
    font-weight:500;
    margin: 4px;
}

.user-detail .input-box input {
    height: 40px;
    width:100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
    padding-left: 12px;
    font-size: 14px;
    border-bottom-width:2px;
    border-color: #9b59b6;
 
}

form .gender-details .gender-title{
    font-size: 22px;
    font-weight: 500;
}

form .gender-details .category{
width: 80%;
display: flex;
justify-content: space-between;
margin: 12px 0;

}

.gender-details .category label{
display: flex;
align-items: center;
}

.gender-details .category .dot{
  height: 15px;
  width: 15px;
  background: #d9d9d9; ;
border-radius: 50%;
margin-right:10px;
border: 3px solid transparent;

}

#dot-1:checked ~ .category label .one,
    #dot-2:checked ~ .category label .two,
        #dot-3:checked ~ .category label .three{
    border-color: d9d9d9;
    background: #9b59b6;


}

form input[type="radio"]{
    display: none;
}

form .button{
height: 40px;
margin:40px 0 ;

} 

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color:white;
    background:linear-gradient(130deg, #71b7e6,#9b59b6);
    font-size: 18px;
    font-weight:450;
    border-radius: 4px;
    letter-spacing: 1px;
}

form .button input:hover{
    background:linear-gradient(130deg, #71b7e6,#9b59b6);
}

@media (max-width: 584px){
    .contain{
        max-width: 100%;
    }
    form .user-detail .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category{
        width: 100%;
}
.contain form .user-detail{
    max-height: 300px;
    overflow-y: scroll;
}
}


